  build-url: {{BUILD_URL | default('')}}
  build-type: {{BUILD_TYPE | default('')}}
  build-run-id: {{BUILD_RUN_ID | default('')}}
  source-repo: "{{SOURCE_REPO | default('')}}"
  source-branch: "{{SOURCE_BRANCH | default('')}}"
  source-sha: {{SOURCE_SHA | default('')}}
  machine: {{DEVICE_TYPE | default('')}}
  distro: {{BUILD_DISTRO | default('')}}
  kernel: {{BUILD_KERNEL | default('')}}
  image: {{BUILD_IMAGE | default('')}}
  testplan: {{TESTPLAN_NAME | default('')}}
  testkit-ref: {{TEST_DEFINITIONS_REVISION | default('')}}
  lava-test-plans-ref: {{LAVA_TEST_PLANS_REF | default('')}}
  pr-url: {{PR_URL | default('')}}
  pr-number: {{PR_NUMBER | default('')}}
  gh-workflow-url: "{{GITHUB_WORKFLOW_URL | default('')}}"
  gh-workflow-run-id: {{GITHUB_WORKFLOW_RUN_ID | default('')}}
  gh-workflow-run-attempt: {{GITHUB_WORKFLOW_RUN_ATTEMPT | default('')}}
