  build-url: {{BUILD_URL | default('')}}
  pr-url: {{PR_URL | default('')}}
  pr-number: {{PR_NUMBER | default('')}}
  gh-workflow-url: "{{GITHUB_WORKFLOW_URL | default('')}}"
  gh-workflow-run-id: {{GITHUB_WORKFLOW_RUN_ID | default('')}}
  gh-workflow-run-attempt: {{GITHUB_WORKFLOW_RUN_ATTEMPT | default('')}}
