steps:
        - tar xvf qcom-multimedia-image-rb3gen2-core-kit.rootfs.qcomflash.tar.gz
        - cp qcom-multimedia-image-rb3gen2-core-kit/cdt_vision_kit.bin qcom-multimedia-image-rb3gen2-core-kit/cdt.bin
        - tar czvf qcom-multimedia-image-rb3gen2-core-kit.rootfs.qcomflash.tar.gz qcom-multimedia-image-rb3gen2-core-kit/
