{% extends device_type %}

{% set PROJECT_NAME = PROJECT_NAME|default("") %}
{% set BUILD_NUMBER = BUILD_NUMBER|default("") %}
{% set KERNEL_BRANCH = KERNEL_BRANCH|default("unknown") %}
{% set OS_INFO = OS_INFO|default("") %}
{% set EXTRA_KERNEL_ARGS = EXTRA_KERNEL_ARGS|default() %}
{% set EXCLUDED_TESTS = EXCLUDED_TESTS|default([]) %}

{# with the BUILD_NUMBER in the middle, it's possible to get #}
{# the sub job name(which is the test_name here) #}
{# from this lava job name information #}
{% block job_name %}{{PROJECT_NAME}}-{{OS_INFO}}-{{BUILD_NUMBER}}-{{test_name}}{% endblock job_name %}

{% block context %}
{{ super() }}
  {%- if EXTRA_KERNEL_ARGS is defined and EXTRA_KERNEL_ARGS %}
  extra_kernel_args: '{{EXTRA_KERNEL_ARGS}}'
  {%- endif %}
{% endblock context %}

{% block test_target %}
{% if all_tests is defined %}
  {% for test in all_tests %}
  {% if (test.name not in EXCLUDED_TESTS) and (test.include|default(true)) %}
  {{ super() }}
  {# include the super block once if any tests are included #}
  {% break %}
  {% endif %}
  {% endfor %}
    {% for test in all_tests %}
    {# Check if test should be included (not excluded AND condition met if specified) #}
    {% if (test.name not in EXCLUDED_TESTS) and (test.include|default(true)) %}
    - from: git
      name: "{{ test.name }}"
      path: {{ test.path }}
      repository: {{ TEST_DEFINITIONS_REPOSITORY }}
      {% if TEST_DEFINITIONS_REVISION is defined and TEST_DEFINITIONS_REVISION %}
      revision: {{ TEST_DEFINITIONS_REVISION }}
      {% endif %}
      {% if test.params is defined %}
      params:
        {% for param_key, param_value in test.params.items() %}
        {{ param_key }}: "{{ param_value }}"
        {% endfor %}
      {% endif %}
      {% if test.expected is defined and test.expected %}
      expected:
        {% for expected in test.expected|default([]) %}
        - {{ expected }}
        {% endfor %}
      {% endif %}

    {% endif %}
    {% endfor %}
{% else %}
  {{ super() }}
{% endif %}
{% endblock test_target %}
